Frontend/*.local
Frontend/node_modules/
Frontend/build/
Frontend/.env
Frontend/.env.local
Frontend/dist/
Frontend/pnpm-debug.log*

backendAPIs/nodejs-server/node_modules/
backendAPIs/nodejs-server/.env
backendAPIs/fast-api/.env
backendAPIs/fast-api/__pycache__/
backendAPIs/fast-api/venv/
backendAPIs/fast-api/logs/

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store